/__pycache__
backend/recordings/20240927/test_recording2_cam0_223144.avi
backend/__pycache__/main.cpython-311.pyc
**/__pycache__//
*.pyc
backend/__pycache__/camera_manager.cpython-311.pyc
backend/__pycache__
backend/recordings/20240927/test_recording_cam0_223133.avi
backend/__pycache__/main.cpython-311.pyc
backend/__pycache__/camera_manager.cpython-311.pyc
